In [14]:
import pandas as pd

In [39]:
df = pd.read_csv("data/raw_data_phawit_revised.csv",header=1)
df.shape

(389, 32)

In [40]:
df

,id,raw_g_aflow,raw_g_dflow,raw_g_mflow,raw_s_aflow,raw_s_dflow,raw_s_mflow,raw_p_aflow,raw_g_depth,raw_hp,...,distrib_press,distrib_lost,floor_area,pump_eng_hp,calc_flow,calc_NTU_avg,calc_NTU_peak,calc_elev_change,calc_hp,total_energy_use_kBtu
0,AK001,2,3,10,2,3,12,0,130,950,...,70,12,0,0,4,0,43,0,"1,159",0
1,AL001,0,0,0,2,3,3,0,0,75,...,61,9,"8,500",0,2,10,64,140,395,"15,990,815"
2,AL002,0,0,0,0,0,0,0,0,0,...,85,15,0,0,0,0,0,390,410,0
3,AL003,4,4,12,0,0,0,0,260,"1,430",...,100,21,0,0,4,1,3,266,"2,105","52,678,647"
4,AL004,0,0,0,5,8,14,0,0,"1,200",...,60,15,"17,666",0,5,35,657,125,"1,300","13,928,280"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
384,NY168,0,0,0,0,0,0,0,NaN,NaN,...,60,0,0,NaN,0,0,0,0,0,"415,018"
385,NY169,0,0,0,5,7,7,0,NaN,NaN,...,145,0,0,NaN,5,4,130,0,0,0
386,NY170,0,0,0,0,0,0,0,NaN,NaN,...,75,35,"1,000",NaN,0,0,0,0,0,"1,504,816"
387,NY171,0,0,0,0,0,0,0,NaN,NaN,...,0,0,0,NaN,0,0,0,0,0,0
388,NY172,0,0,0,1,1,2,0,NaN,NaN,...,0,14,0,NaN,1,5,10,0,0,"20,300,746"

In [41]:
df = df.fillna(0)
df

,id,raw_g_aflow,raw_g_dflow,raw_g_mflow,raw_s_aflow,raw_s_dflow,raw_s_mflow,raw_p_aflow,raw_g_depth,raw_hp,...,distrib_press,distrib_lost,floor_area,pump_eng_hp,calc_flow,calc_NTU_avg,calc_NTU_peak,calc_elev_change,calc_hp,total_energy_use_kBtu
0,AK001,2,3,10,2,3,12,0,130,950,...,70,12,0,0,4,0,43,0,"1,159",0
1,AL001,0,0,0,2,3,3,0,0,75,...,61,9,"8,500",0,2,10,64,140,395,"15,990,815"
2,AL002,0,0,0,0,0,0,0,0,0,...,85,15,0,0,0,0,0,390,410,0
3,AL003,4,4,12,0,0,0,0,260,"1,430",...,100,21,0,0,4,1,3,266,"2,105","52,678,647"
4,AL004,0,0,0,5,8,14,0,0,"1,200",...,60,15,"17,666",0,5,35,657,125,"1,300","13,928,280"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
384,NY168,0,0,0,0,0,0,0,0,0,...,60,0,0,0,0,0,0,0,0,"415,018"
385,NY169,0,0,0,5,7,7,0,0,0,...,145,0,0,0,5,4,130,0,0,0
386,NY170,0,0,0,0,0,0,0,0,0,...,75,35,"1,000",0,0,0,0,0,0,"1,504,816"
387,NY171,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
388,NY172,0,0,0,1,1,2,0,0,0,...,0,14,0,0,1,5,10,0,0,"20,300,746"

In [42]:
df = df.drop(columns=['id'])
df

,raw_g_aflow,raw_g_dflow,raw_g_mflow,raw_s_aflow,raw_s_dflow,raw_s_mflow,raw_p_aflow,raw_g_depth,raw_hp,raw_g_antu,...,distrib_press,distrib_lost,floor_area,pump_eng_hp,calc_flow,calc_NTU_avg,calc_NTU_peak,calc_elev_change,calc_hp,total_energy_use_kBtu
0,2,3,10,2,3,12,0,130,950,0.0,...,70,12,0,0,4,0,43,0,"1,159",0
1,0,0,0,2,3,3,0,0,75,0.0,...,61,9,"8,500",0,2,10,64,140,395,"15,990,815"
2,0,0,0,0,0,0,0,0,0,0.0,...,85,15,0,0,0,0,0,390,410,0
3,4,4,12,0,0,0,0,260,"1,430",1.0,...,100,21,0,0,4,1,3,266,"2,105","52,678,647"
4,0,0,0,5,8,14,0,0,"1,200",0.0,...,60,15,"17,666",0,5,35,657,125,"1,300","13,928,280"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
384,0,0,0,0,0,0,0,0,0,0.0,...,60,0,0,0,0,0,0,0,0,"415,018"
385,0,0,0,5,7,7,0,0,0,0.0,...,145,0,0,0,5,4,130,0,0,0
386,0,0,0,0,0,0,0,0,0,0.0,...,75,35,"1,000",0,0,0,0,0,0,"1,504,816"
387,0,0,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
388,0,0,0,1,1,2,0,0,0,0.0,...,0,14,0,0,1,5,10,0,0,"20,300,746"

In [43]:
# Converting all columns in the DataFrame to numeric data types, where possible
df = df.replace({',': ''}, regex=True).apply(pd.to_numeric, errors='coerce')
df

,raw_g_aflow,raw_g_dflow,raw_g_mflow,raw_s_aflow,raw_s_dflow,raw_s_mflow,raw_p_aflow,raw_g_depth,raw_hp,raw_g_antu,...,distrib_press,distrib_lost,floor_area,pump_eng_hp,calc_flow,calc_NTU_avg,calc_NTU_peak,calc_elev_change,calc_hp,total_energy_use_kBtu
0,2,3,10,2,3,12,0,130,950,0.0,...,70,12,0,0,4,0,43,0,1159,0
1,0,0,0,2,3,3,0,0,75,0.0,...,61,9,8500,0,2,10,64,140,395,15990815
2,0,0,0,0,0,0,0,0,0,0.0,...,85,15,0,0,0,0,0,390,410,0
3,4,4,12,0,0,0,0,260,1430,1.0,...,100,21,0,0,4,1,3,266,2105,52678647
4,0,0,0,5,8,14,0,0,1200,0.0,...,60,15,17666,0,5,35,657,125,1300,13928280
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
384,0,0,0,0,0,0,0,0,0,0.0,...,60,0,0,0,0,0,0,0,0,415018
385,0,0,0,5,7,7,0,0,0,0.0,...,145,0,0,0,5,4,130,0,0,0
386,0,0,0,0,0,0,0,0,0,0.0,...,75,35,1000,0,0,0,0,0,0,1504816
387,0,0,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
388,0,0,0,1,1,2,0,0,0,0.0,...,0,14,0,0,1,5,10,0,0,20300746

In [55]:
# Deleting rows where 'total_energy_use_kBtu' equals 0
df = df[df['total_energy_use_kBtu'] != 0]
df

,raw_g_aflow,raw_g_dflow,raw_g_mflow,raw_s_aflow,raw_s_dflow,raw_s_mflow,raw_p_aflow,raw_g_depth,raw_hp,raw_g_antu,...,distrib_press,distrib_lost,floor_area,pump_eng_hp,calc_flow,calc_NTU_avg,calc_NTU_peak,calc_elev_change,calc_hp,total_energy_use_kBtu
1,0,0,0,2,3,3,0,0,75,0.0,...,61,9,8500,0,2,10,64,140,395,15990815
3,4,4,12,0,0,0,0,260,1430,1.0,...,100,21,0,0,4,1,3,266,2105,52678647
4,0,0,0,5,8,14,0,0,1200,0.0,...,60,15,17666,0,5,35,657,125,1300,13928280
6,0,0,0,3,3,5,0,0,400,0.0,...,60,18,18414,0,3,4,11,45,420,25681304
8,58,90,173,0,0,0,0,0,10550,0.0,...,100,9,200000,0,58,0,0,460,18550,373803600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,0,0,1,1,2,4,0,0,0,0.0,...,75,0,25619,0,2,2,3,0,0,8851295
380,3,7,10,0,0,0,0,0,0,0.0,...,0,6,0,0,3,2,2000,0,0,37424760
384,0,0,0,0,0,0,0,0,0,0.0,...,60,0,0,0,0,0,0,0,0,415018
386,0,0,0,0,0,0,0,0,0,0.0,...,75,35,1000,0,0,0,0,0,0,1504816
388,0,0,0,1,1,2,0,0,0,0.0,...,0,14,0,0,1,5,10,0,0,20300746

In [56]:
df.to_csv('data/raw_data_phawit_revised_init.csv', index=False)

In [54]:
# Initialize a dictionary to store the counts
count_dict = {}

# Iterate through each column
for column in df.columns:
#     null_count = df[column].isnull().sum()
    zero_count = (df[column] == 0).sum()
    count_dict[column] = {'Null Values': null_count, 'Zero Values': zero_count}

# Display the counts
i = 1
for column, counts in count_dict.items():
    print(f'Column {i}: {column},Zero Values: {counts["Zero Values"]} from {df.shape[0]}')
    i += 1

Column 1: raw_g_aflow,Zero Values: 110 from 184
Column 2: raw_g_dflow,Zero Values: 107 from 184
Column 3: raw_g_mflow,Zero Values: 112 from 184
Column 4: raw_s_aflow,Zero Values: 86 from 184
Column 5: raw_s_dflow,Zero Values: 85 from 184
Column 6: raw_s_mflow,Zero Values: 87 from 184
Column 7: raw_p_aflow,Zero Values: 153 from 184
Column 8: raw_g_depth,Zero Values: 108 from 184
Column 9: raw_hp,Zero Values: 66 from 184
Column 10: raw_g_antu,Zero Values: 165 from 184
Column 11: raw_g_pntu,Zero Values: 151 from 184
Column 12: raw_s_antu,Zero Values: 113 from 184
Column 13: raw_s_pntu,Zero Values: 111 from 184
Column 14: res_weight,Zero Values: 122 from 184
Column 15: distrib_pop,Zero Values: 6 from 184
Column 16: distrib_area,Zero Values: 16 from 184
Column 17: distrib_main,Zero Values: 11 from 184
Column 18: distrib_high,Zero Values: 60 from 184
Column 19: distrib_low,Zero Values: 64 from 184
Column 20: distrib_hp,Zero Values: 62 from 184
Column 21: distrib_storage,Zero Values: 11 from 184
Column 22: distrib_press,Zero Values: 13 from 184
Column 23: distrib_lost,Zero Values: 38 from 184
Column 24: floor_area,Zero Values: 73 from 184
Column 25: pump_eng_hp,Zero Values: 154 from 184
Column 26: calc_flow,Zero Values: 18 from 184
Column 27: calc_NTU_avg,Zero Values: 85 from 184
Column 28: calc_NTU_peak,Zero Values: 72 from 184
Column 29: calc_elev_change,Zero Values: 59 from 184
Column 30: calc_hp,Zero Values: 50 from 184
Column 31: total_energy_use_kBtu,Zero Values: 0 from 184

In [46]:
energy_use_parameters = ['utility_kwh','utility_kw','utility_cost','ngas_use','ngas_cost','oenergy_purch','oenergy_type','oenergy_amount','oenergy_cost']
len(energy_use_parameters)

9

In [5]:
all_variables = list(df.columns)
len(all_variables)

105

In [6]:
X_columns = set(all_variables) - set(energy_use_parameters)
len(X_columns)

96

In [7]:
all_variables

['id',
 'raw_g_num',
 'raw_g_aflow',
 'raw_g_dflow',
 'raw_g_mflow',
 'raw_s_num',
 'raw_s_aflow',
 'raw_s_dflow',
 'raw_s_mflow',
 'raw_p_num',
 'raw_p_aflow',
 'raw_g_depth',
 'raw_hp',
 'raw_npump',
 'raw_g_antu',
 'raw_g_pntu',
 'raw_s_antu',
 'raw_s_pntu',
 'treat_algae',
 'treat_disinf',
 'treat_ox',
 'treat_iron',
 'treat_mang',
 'treat_odor',
 'treat_TOC',
 'treat_turb',
 'treat_soft',
 'treat_recarb',
 'treat_organic',
 'treat_inorganic',
 'treat_radon',
 'process_aerate',
 'process_UV',
 'process_OZ',
 'process_clar_up',
 'process_clar_gravity',
 'process_clar_daf',
 'process_floc',
 'process_filtr_direct',
 'process_filtr_sand',
 'process_filtr_dual',
 'process_filtr_rapid',
 'process_filtr_dearth',
 'process_filtr_press',
 'process_mem_rosmos',
 'process_mem_micfiltr',
 'process_mem_ultfiltr',
 'process_mem_nanofiltr',
 'utility_nplants',
 'res_none',
 'res_gravity',
 'res_dewat_mech',
 'res_cent',
 'res_press_filtr',
 'res_vac_filtr',
 'res_bpress',
 'res_ppress',
 'res_dewat_nmech',
 'res_lagoon',
 'res_sand',
 'res_frz',
 'res_weight',
 'distrib_pop',
 'distrib_area',
 'distrib_main',
 'distrib_high',
 'distrib_low',
 'distrib_hp',
 'distrib_npump',
 'distrib_storage',
 'distrib_press',
 'distrib_nzones',
 'distrib_lost',
 'raw_kwh',
 'raw_kw',
 'raw_cost',
 'treat_kwh',
 'treat_kw',
 'treat_cost',
 'distrib_kwh',
 'distrib_kw',
 'distrib_cost',
 'utility_kwh',
 'utility_kw',
 'utility_cost',
 'floor_area',
 'ngas_use',
 'ngas_cost',
 'pump_eng',
 'pump_eng_hp',
 'pump_eng_fuel',
 'oenergy_purch',
 'oenergy_type',
 'oenergy_amount',
 'oenergy_cost',
 'check_util',
 'extra_event',
 'notes',
 'calc_flow',
 'calc_NTU_avg',
 'calc_NTU_peak',
 'calc_metals',
 'calc_contam',
 'calc_elev_change',
 'calc_hp']

In [7]:
util_kwh

NameError: name 'util_kwh' is not defined